html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header, footer {
  background-color: #ffe500;
  padding: 0 .75em;
}

h1 {
  color: #b20953;
  display: block;
  font-family: "Sigmar One", sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  background-color: #b2a212;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 1.125em;
  overflow: hidden;
  padding: .5em .3em;
  text-decoration: none;
}

.nav a:hover, .nav .current {
  background-color: #cc1465;
}

main {
  padding: 0 .75em;
  background-color: #fff;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 1.875rem;
  margin: .75em 0;
  display: inline-block;
}

img {
  display: block;
  margin-bottom: .75em;
  width: 100%;
}

.text {
  color: #2f2d13;
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: .75em;
}

footer {
  font-family: Georgia, serif;
  font-size: .75rem;
  margin: 0;
  padding: .75em;
  text-align: center;
}
